@page
@model ServiceHost.Pages.ArticleCategoriesModel
@{
    ViewData["Title"] = "مقالات";
}


<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">موضوعات / آخرین مقالات</span> 
</h4>

<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-4 mb-lg-0 mb-4">
        <h5>موضوعات</h5>
        <div class="nav-align-left">
            <ul class="nav nav-pills w-100 gap-3">

                @foreach (var category in Model.ArticleCategories)
                {
                    <a class="nav-link" asp-page="./ArticleCategory" asp-route-id="@category.Slug">
                        @category.Name
                    </a>
                }

            </ul>
        </div>
    </div>
    
    <div class="col-xl-9 col-lg-8 col-md-8">
        <div class="card overflow-hidden">
            <div class="card-body">
                
                <ul class="list-unstyled my-4">
                    @foreach (var article in Model.LatestArticles)
                    {
                        <li class="mb-3">
                            <a asp-page="./Article" asp-route-id="@article.Slug" class="d-flex fw-semibold">
                                <i class="bx bx-chevron-right scaleX-n1-rtl text-muted me-1"></i>
                                @article.Title
                            </a>
                        </li>
                    }

                </ul>

                <a class="btn btn-label-primary" asp-page="./Faq">
                    <i class="bx bx-chevron-left scaleX-n1-rtl me-1"></i>
                    <span class="align-middle">رفتن به پرسش های متداول</span>
                </a>
            </div>
        </div>
    </div>
</div>
