@page
@model ServiceHost.Pages.PaymentResultModel
@{
    ViewData["Title"] = "نتیجه پرداخت";
}



<div class="row">
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="card-title">
                نتیجه ی پرداخت
            </h4>
        </div>
        <div class="card-body">
            @if (Model.Result.IsSuccessful)
            {
                <div class="alert alert-success">
                    <p>
                        @Model.Result.Message
                    </p>
                    @if (!string.IsNullOrWhiteSpace(Model.Result.IssueTrackingNo))
                    {
                        <p>
                            شماره پیگیری: <strong>@Model.Result.IssueTrackingNo</strong>
                        </p>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <p>
                        @Model.Result.Message
                    </p>
                </div>
            }
        </div>
    </div>
</div>
