@page "{id:long}"
@model ServiceHost.Areas.Administration.Pages.Accounts.Accounts.AddDepartmentModel
@{
    ViewData["Title"] = "انتخاب دپارتمان ها";
}

<h1>Select Departments</h1>

<form method="post">
    <div class="form-group mb-4">
        <label asp-for="Account.Fullname" class="form-label">نام کاربر</label>
        <input asp-for="Account.Fullname" class="form-control" readonly />
    </div>

    <div class="form-group mb-4">
        <label asp-for="SelectedDepartmentIds" class="form-label">دپارتمان ها</label>
        <select asp-for="SelectedDepartmentIds" asp-items="Model.DepartmentListItems" id="select2Multiple" class="select2 form-select" multiple>
        </select>
    </div>

    <input type="hidden" asp-for="Account.Id" value="@Model.Account.Id" />
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-primary" asp-page="./Index">بازگشت</a>
</form>

@section Css
{
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/select2/select2.css" />
}

@section Script
{
    <script src="~/AdminTheme/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/AdminTheme/assets/js/forms-selects.js"></script>
}
