@page "{id:long}"
@model ServiceHost.Areas.Administration.Pages.Events.Events.EditModel
@{
    ViewData["Title"] = "ویرایش رویداد" + Model.Command.Name;
}


<div class="row">
    <form method="post" enctype="multipart/form-data">

        <div class="col-12">

            <div class="card mb-4">
              
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Name" class="form-label">نام رویداد*</label>
                                <input type="text" class="form-control" asp-for="Command.Name">
                                <span asp-validation-for="Command.Name" class="error"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Command.SubcategoryId" class="form-label">موضوع*</label>
                            <select class="form-select" asp-for="Command.SubcategoryId" asp-items="Model.Subcategories">
                                <option value="0">موضوع...</option>
                            </select>
                            <span asp-validation-for="Command.SubcategoryId" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">

            <div class="card mb-4">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.ImageCover" class="form-label">عکس*</label>
                                <input type="file" accept="image/*" class="form-control" asp-for="Command.ImageCover" />
                                <span asp-validation-for="Command.ImageCover" class="error"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.DepartmentId" class="form-label">دپارتمان*</label>
                                <select class="form-select" asp-for="Command.DepartmentId" asp-items="Model.Departments">
                                    <option value="0">دپارتمان...</option>
                                </select>
                                <span asp-validation-for="Command.DepartmentId" class="error"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.PresenterIdList" class="form-label">ارائه دهندگان*</label>
                                <select asp-for="Command.PresenterIdList" asp-items="Model.Presenters" class="multi-select form-select" multiple="multiple" id="my_multi_select3">
                                </select>
                                <span asp-validation-for="Command.PresenterIdList" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.AccountIdList" class="form-label">اساتید ارائه دهنده*</label>
                                <select asp-for="Command.AccountIdList" asp-items="Model.EventAccounts" id="select2Multiple" class="select2 form-select" multiple>
                                </select>
                                <span asp-validation-for="Command.AccountIdList" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Command.Tags" class="form-label">تگ ها</label>
                                <input type="text" class="form-control" asp-for="Command.Tags">
                                <span asp-validation-for="Command.Tags" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">

            <div class="card mb-4">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.EventType" class="form-label">نوع رویداد*</label>
                                <input type="text" class="form-control" asp-for="Command.EventType">
                                <span asp-validation-for="Command.EventType" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.SupportNumber" class="form-label">شماره پشتیبانی*</label>
                                <input type="text" class="form-control" asp-for="Command.SupportNumber">
                                <span asp-validation-for="Command.SupportNumber" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Command.Description" class="form-label">توضیحات</label>
                                <textarea class="form-control" id="BodyContent" asp-for="Command.Description" rows="5"></textarea>
                                <span asp-validation-for="Command.Description" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Command.Address" class="form-label">آدرس*</label>
                                <textarea class="form-control" asp-for="Command.Address" rows="5"></textarea>
                                <span asp-validation-for="Command.Address" class="error"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.StartTime" class="form-label">تاریخ شروع*</label>
                                <input type="text" class="form-control persianDateInput" asp-for="Command.StartTime">
                                <span asp-validation-for="Command.StartTime" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.EndTime" class="form-label">تاریخ پایان*</label>
                                <input type="text" class="form-control persianDateInput" asp-for="Command.EndTime">
                                <span asp-validation-for="Command.EndTime" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />
        <button type="submit" class="btn btn-success">ویرایش</button>
        <a class="btn btn-primary" asp-page="./Index">بازگشت</a>
    </form>
</div>

@section Css
    {
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/bs-stepper/bs-stepper.css" />
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/AdminTheme/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    
    <link href="~/AdminTheme/assets/costum/css/persian-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminTheme/assets/jquery-multi-select/multi-select.css" rel="stylesheet" type="text/css" />
}

@section Script
    {
    <script src="~/AdminTheme/assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/select2/select2.js"></script>
    <script src="~/AdminTheme/assets/js/forms-selects.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/AdminTheme/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <script src="~/AdminTheme/assets/js/form-wizard-numbered.js"></script>
    <script src="~/AdminTheme/assets/js/form-wizard-validation.js"></script>

    <script src="https://cdn.tiny.cloud/1/03bywyfc22f080o11wndvso5su892zkphj49li728tkw9f3f/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#BodyContent',
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>


    <script src="~/AdminTheme/assets/costum/js/persian-date.min.js"></script>
    <script src="~/AdminTheme/assets/costum/js/persian-datepicker.min.js"></script>

    <script>
        $('.persianDateInput').persianDatepicker({
            format: 'YYYY/MM/DD HH:mm',
            autoClose: true,
            initialValueType: "persian",
            timePicker: {
                enabled: true,
                meridiem: {
                    enabled: true
                }
            }
        });
    </script>

<script type="text/javascript" src="~/AdminTheme/assets/jquery-multi-select/jquery.multi-select.js"></script>
<script type="text/javascript" src="~/AdminTheme/assets/jquery-multi-select/jquery.quicksearch.js"></script>

<script>
    jQuery(document).ready(function () {
        $('#my_multi_select3').multiSelect({
            selectableOptgroup: true,
            selectableHeader:
                "<span>تمام برگزارکنندگان</span><input type='text' class='form-control search-input' autocomplete='off' placeholder='جستجو...'>",
            selectionHeader:
                "<span>انتخاب شده ها</span><input type='text' class='form-control search-input' autocomplete='off' placeholder='جستجو...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString =
                        '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown',
                        function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown',
                        function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    });
</script>
}
